<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="sidebar">
        <div class="logo">
            <img src="assets/logo.png">
        </div>
        <ul class="menu">
            <li><a (click)="onLogin()">Home</a></li>
            <li><a (click)="onLogin()">Payments</a></li>
            <li><a (click)="onLogin()">Offers</a></li>
            <li><a (click)="onLogin()">Wallet</a></li>
            <li><a (click)="onLogin()">Profile</a></li>
        </ul>
    </div>
    
    <div class="main-content">
        <div class="header">
            <h1>Dashboard</h1>
            <div class="user-info">
                <h4>Welcome to PhonePay</h4>
                <img src="assets/img.png" alt="User Icon" class="enlarged-image">
            </div>
        </div>
       
        <div class="cards">
            <div class="card">
                <h3>Balance</h3>
                <p>Check Balance</p>
            </div>
            <div class="card">
                <h3>Recent Transactions</h3>
                <p>View all</p>
            </div>
            <div class="card">
                <h3>Offers</h3>
                <p>Check Now</p>
            </div>
        </div>
        
        <app-login ></app-login>
       
       
        
    </div>
    
</body>
</html>